{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Connect{% endblock %}</title>
</head>
<body>
    <header class="header">
            <h1 class="header__title">Connect</h1>
            <nav class="header__nav">
                <a href="{% url 'connect-index' %}">Home</a>
                <a href="{% url 'connect-profile' %}">Profile</a>
                <a href="{% url 'connect-about' %}">About</a>
            </nav>
    </header>
    {% block body %}
    {% endblock %}
    <footer class="footer">
        <p class="copyright">&copy; 2022 Lockedsociety</p>
    </footer>
    
</body>
</html>
